params.inputDir = "data/nef_examples"
params.outputDir = "results"
params.model = "1"
params.isModelStar = false
params.originalNumbering = true

conda.enabled = true

env {
    KMP_DUPLICATE_LIB_OK = 'TRUE'
    CONDA_SUBDIR = 'osx-64'
}

manifest {
    organization = 'Bio2Byte'
    // author = 'Vranken W (0000-0001-7470-4324), Díaz A (0000-0003-0165-1318)'
    version = "v1.0.0-beta.1"
    homePage = 'https://github.com/Bio2Byte/nf-b2btools-shiftcrypt'
    description = 'Bio2Byte Nextflow pipeline for Shiftcrypt predictions'
    mainScript = 'main.nf'
    defaultBranch = 'master'
}

report {
    // enabled = true
    file = "nextflow-report.html"
    overwrite = true
}

trace {
    enabled = true
    overwrite = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    overwrite = true
    file = "timeline-report.html"
}
